/* блок about-travel */

.about-travel-wrap {
    display: flex;
    justify-content: space-between;
}

.about-travel-content p {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 17px;
    color: rgba(125, 121, 135, 1);
}

.about-travel-content {
    padding-left: 102px;
    padding-right: 143px;
}

.about-travel-btn {
    display: inline-block;
    text-decoration: none;
    background-color: rgba(251, 143, 29, 1);
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    padding: 20px 37px;
    margin-top: 39px;
}