/* стилизуем блок header */


/* .header {
    position: relative;
    z-index: 1000;
} */

.header-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid #000; */
    padding-top: 35px;
}

.logo {
    display: inline-block;
    margin: 0 auto 0 0;
}

.header-wrap a {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
}

.logo-pic {
    // display: block;
    // margin-right: auto;
    width: 50px;
    height: 50px;
}

.main-nav ul {
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-right: 18px;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: rgba(184, 190, 205, 1);
}

.main-nav a:hover {
    color: #000;
}

.btn-header {
    text-decoration: none;
    display: block;
    padding: 8px 46px;
    border-radius: 8px;
}

.login-btn {
    margin-left: 26px;
    margin-right: 18px;
    border: 1px solid rgba(251, 143, 29, 1);
    color: rgba(251, 143, 29, 1);
}

.register-btn {
    background-color: rgba(251, 143, 29, 1);
    color: rgba(255, 255, 255, 1);
}