* {
    box-sizing: border-box;
}

body {
    background-color: pink;
}

h1 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 64px;
}

h2 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
}

section {
    padding-bottom: 143px;
    /* padding-top: 143px; */
}

.container {
    /*делаем сайт по центру */
    max-width: 1278px;
    margin: 0 auto;
    // border: 1px solid #000;
}